@import '../variables';

.container {
  width: 80%;
  margin: 0 auto;
}

.green {color: $color-green;}
.purple {color: $color-purple;}
.blue {color: $color-blue;}
.orange {color: $color-orange;}

body {
  color: $color-black;
  font-size: 1.3rem;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
    .container {
      width: 90%;
    }
  }
  margin-top: 3rem;
  margin-bottom: 3rem;
}

// END of Default CSS

.container-header {
  text-align: center;
}

.tier-container {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
}

.textfield-container {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
}