@import '../variables';

.container {
  width: 80%;
  margin: 0 auto;
}

span.green {color: $color-green;}
span.purple {color: $color-purple;}

body {
  color: $color-black;
  font-size: 1.3rem;
}

// END of Default CSS

.container-header {
  text-align: center;
}

.temp-container {
  margin-top: 5rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
}