@import '../variables';

.progress {
    margin: 1.5rem 0;
}

.container-progress {
    position: relative;
    width: 50%;
}

.progress-bar {
    position: absolute;
    height: 0.7rem;
    border-radius: 50px;
}

.progress-bar-bg {
    width: 100%;
    background-color: black;
}

.progress-indicator {
    background-color: $color-green;
}